.wp-block-woocommerce-simple-price-filter {
	--low: 0%;
	--high: 100%;
	--range-color: currentColor;

	.range {
		position: relative;
		margin: 15px 0;

		.range-bar {
			position: relative;
			height: 4px;
			background: linear-gradient(90deg, transparent var(--low), var(--range-color) 0, var(--range-color) var(--high), transparent 0) no-repeat 0 100%/100% 100%;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: currentColor;
				opacity: .2;
			}
		}

		input[type="range"] {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 0;
			margin: 0;
			padding: 0;

			&.active {
				z-index: 10;
			}
		}
	}
}
