.wc-block-order-confirmation-totals {
	table {
		width: 100%;
		border: 1px solid currentColor;
		border-collapse: collapse;
		th,
		td {
			border: 1px solid currentColor;
			border-right-width: 0;
			border-left-width: 0;
			padding: $gap;
			margin: 0;
			text-align: left;
			font-weight: inherit;
		}
		thead {
			font-weight: bold;
		}
		.wc-block-order-confirmation-totals__total {
			font-variant-numeric: tabular-nums;
			text-align: right;
		}
	}
	table[style*="border-width"] {
		> *,
		tr,
		th,
		td {
			border-style: inherit;
			border-width: inherit;
			border-color: inherit;
			border-right-width: 0;
			border-left-width: 0;
		}
	}
}

