.wc-block-order-confirmation-totals {
	margin-top: $gap-large;
	margin-bottom: $gap-large;
	border: 0;
	table {
		width: 100%;
		border: 1px solid currentColor;
		border-spacing: 0;
		border-radius: 2px;
		th,
		td {
			border-bottom: 1px solid currentColor;
			border-right-width: 0;
			border-left-width: 0;
			padding: $gap;
			margin: 0;
			text-align: left;
			font-weight: inherit;
		}
		thead {
			font-weight: bold;
		}
		tfoot tr:last-child td,
		tfoot tr:last-child th {
			border-bottom-width: 0;
		}
		.wc-block-order-confirmation-totals__total {
			font-variant-numeric: tabular-nums;
			text-align: right;
		}
	}
	table[style*="border-width"] {
		> *,
		tr,
		th,
		td {
			border-style: inherit;
			border-width: inherit;
			border-color: inherit;
			border-right-width: 0;
			border-left-width: 0;
		}
	}
}

