.wc-block-editor-product-gallery {
	border-style: none;

	img {
		width: 500px;
		height: 500px;
		border-radius: inherit;
	}
	.wc-block-editor-product-gallery__gallery {
		img {
			width: 100px;
			height: 100px;
			border-radius: inherit;
		}
	}
}
