.woocommerce-product-gallery {
	border-radius: inherit;

	.woocommerce-product-gallery__wrapper {
	  border-radius: inherit;

	  .woocommerce-product-gallery__image {
		border-radius: inherit;
	  }
	}
  }
