.wc-block-mini-cart {
	display: flex;
	justify-content: flex-end;
}

.wc-block-mini-cart__button {
	align-items: center;
	background: transparent;
	border: none;
	display: flex;
	font-weight: 400;
	padding: em($gap-small) em($gap-smaller);

	&:hover {
		background: transparent;
		opacity: 0.6;
	}
}

.wc-block-mini-cart__amount {
	display: none;
}

.wc-block-mini-cart__quantity-badge {
	margin-left: auto;
}

@media screen and (min-width: 768px) {
	.wc-block-mini-cart__amount {
		display: initial;
		font-weight: 600;
		margin-right: $gap-smaller;
	}

	.wc-block-mini-cart__quantity-badge {
		margin-right: 0;
	}
}

.modal-open .wc-block-mini-cart__button {
	pointer-events: none;
}

// Reset font size so it doesn't depend on drawer's ancestors.
.wc-block-mini-cart__drawer {
	font-size: 1rem;
}
