.wc-block-mini-cart__button {
	align-items: baseline;
	background: transparent;
	border: none;
	display: flex;
	font-weight: 400;
	padding-left: 0;
	padding-right: 0;
	width: 100%;

	&:hover {
		background: transparent;
		opacity: 0.6;
	}
}

.wc-block-mini-cart__amount {
	display: none;
	margin-right: $gap-smaller;
}

.wc-block-mini-cart__count {
	display: none;
	font-size: 0.875em;
	opacity: 0.5;
}

.wc-block-mini-cart__quantity-badge {
	margin-left: auto;
}

@media screen and (min-width: 768px) {
	.wc-block-mini-cart__count,
	.wc-block-mini-cart__amount {
		display: initial;
	}

	.wc-block-mini-cart__quantity-badge {
		margin-right: 0;

	}

	.wc-block-mini-cart__badge {
		display: none;
	}
}

.modal-open .wc-block-mini-cart__button {
	pointer-events: none;
}

// Reset font size so it doesn't depend on drawer's ancestors.
.wc-block-mini-cart__drawer {
	font-size: 1rem;
}
