

.wc-block-components-order-summary {
	.wc-block-components-order-summary__heading {
		position: relative;
		padding-left: 3.75em;
		margin: 0 0 2em;

		[role="doc-subtitle"] {
			font-size: 1em;
			line-height: 1.75;
			color: $gray-700;
			margin: 0;
		}

		h2 {
			font-size: 1.5em;
			margin-top: 0;
			line-height: 1;
		}

		svg {
			left: 0;
			top: 0;
			height: 4em;
			width: 4em;
			font-size: 1em;
			margin: -0.25em 0 0 -0.5em;
			position: absolute;
		}
	}
	.wc-block-components-order-summary__status {
		.wc-block-components-order-summary__status_items {
			display: flex;
			justify-content: space-between;
			gap: 1.5em;
			list-style: none outside;
			margin: 0;
			padding: 0;
			.wc-block-components-order-summary__status_item {
				@include with-translucent-border(0 1px 0 0);
				flex: 1;
				font-size: 0.875em;
				line-height: 1.75;
				color: $gray-700;
				margin: 0;
				padding: 0;
				&:last-child::after {
					border-right: none;

				}
				strong {
					display: block;
					font-weight: normal;
				}
			}
		}
	}
	.wc-block-components-order-summary__customer {
		display: flex;
		gap: 1.5em;

		.wc-block-components-order-summary__customer_address {
			flex: 1;
		}
	}
	.wc-block-components-order-summary__status,
	.wc-block-components-order-summary__customer {
		padding: 1.5em;
		margin: 1.5em 0;
		@include with-translucent-border(1px);
		&::after {
			border-radius: 4px;
		}
		h3 {
			margin: 0 0 0.8em;
			font-size: 1.25em;
		}
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
