.wc-product-preview {
	text-align: center;

	// wc-product-preview__title
	// wc-product-preview__price

	.wc-product-preview__add-to-cart {
		cursor: text;
		margin: 0.5em 0 1em;
	}

	.cols-4 &,
	.cols-5 &,
	.cols-6 & {
		.wc-product-preview__title {
			font-size: 0.9em;
			line-height: 1.2;
		}
		.wc-product-preview__price {
			font-size: 0.8em;
		}
		.wc-product-preview__add-to-cart {
			font-size: 0.7em !important;
			line-height: 1.4 !important;
		}
	}

	.editor-block-preview & {
		.wc-product-preview__title {
			font-size: 0.7em;
			line-height: 1.2;
		}
		.wc-product-preview__price {
			font-size: 0.6em;
		}
		.wc-product-preview__add-to-cart {
			font-size: 0.6em !important;
		}
	}
}
