.wp-block-woocommerce-rating-filter {
	margin-bottom: $gap-large;

	.wc-block-components-product-rating.is-active {
		font-weight: 700;
		.wc-block-components-product-rating__stars {
			cursor: pointer;
			span {
				color: var(--wp--preset--color--primary);
			}
		}
	}
}

