.wc-block-cart__payment-method-icons {
	display: block;
	text-align: center;
	margin: $gap 0 0;
	list-style: none outside;

	li {
		list-style: none outside;
		display: inline-block;
		margin: 3px 3px 0;
		padding: 0;
		width: auto;

		img,
		svg {
			width: auto;
			height: 26px;
			max-width: 42px;
		}
	}
}
