.block-editor-block-list__layout .block-editor-block-list__block.has-child-selected[data-type="woocommerce/cart"]::before {
	border: 1px solid rgba(66, 88, 99, 0.4);
}
.wc-block-cart-view-switcher {
	text-align: center;
	background: #f0f2f3;
	box-shadow: 0 0 0 13px #f0f2f3;
	margin: 0 0 27px;
	visibility: hidden;
	color: #555d66;
}
.has-child-selected,
.is-selected {
	.wc-block-cart-view-switcher {
		visibility: visible;
	}
}
