.wc-block-checkout__add-note {
	padding: $gap $gap $gap 9px;
}

.wc-block-checkout__add-note .wc-block-components-textarea {
	margin-top: $gap;
}

.wc-block-checkout__order-notes.wc-block-components-checkout-step {
	padding-left: 0;
}
