.wc-block-editor-product-collection-inspector-toolspanel__filters {
	.wc-block-editor-product-collection-inspector__taxonomy-control:not(:last-child) {
		margin-bottom: $grid-unit-30;
	}
}

.wc-block-editor-product-collection__display-settings {
	.components-popover__content {
		min-width: 230px;
	}
}

.wc-blocks-product-collection__selection-modal {
	.block-editor-block-patterns-list {
		column-count: 3;
		column-gap: $grid-unit-30;

		@include breakpoint("<1280px") {
			column-count: 2;
		}

		@include breakpoint("<782px") {
			column-count: 1;
		}
	}

	.block-editor-block-preview__container {
		height: 200px;
		align-items: flex-start;
		border: 1px solid $input-border-gray;
		border-radius: 4px;
		padding-top: $gap;
	}

	.block-editor-block-patterns-list__list-item {
		break-inside: avoid-column;
	}

	.wc-blocks-product-collection__collection-button {
		display: flex;
		align-items: flex-start;
		height: auto;

		.wc-blocks-product-collection__collection-button-icon {
			margin: 1em 0;
		}

		.wc-blocks-product-collection__collection-button-text {
			padding: 0 $gap-small;
			text-align: left;
		}

		.wc-blocks-product-collection__collection-button-title {
			@include font-size(large);
			line-height: 1;
		}

		.wc-blocks-product-collection__collection-button-description {
			white-space: wrap;
		}
	}
}

.wc-blocks-product-collection__selection-modal-subtitle {
	margin-bottom: $gap-large;
}

.wc-blocks-product-collection__collections-section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 1fr;
	gap: $gap-small;
	margin: $gap-small auto;
	max-width: 1000px;
}

.wc-blocks-product-collection__patterns-section {
	min-height: 200px;
	background-color: $gray-100;
	// @todo: Fix the hardcoded -32px value.
	margin: 0 -32px;
	padding: 32px;
}
