<?xml version="1.0" encoding="utf-8"?>
<checkstyle version="4.3">
<file name="assets/js/blocks/cart/cart-line-items-table/cart-line-item-row.tsx">
<error line="121" column="16" severity="error" message="&apos;,&apos; expected." source="TS1005" />
<error line="213" column="5" severity="error" message="JSX expressions must have one parent element." source="TS2657" />
<error line="375" column="8" severity="error" message="Expected corresponding JSX closing tag for &apos;td&apos;." source="TS17002" />
<error line="376" column="7" severity="error" message="Expected corresponding JSX closing tag for &apos;tr&apos;." source="TS17002" />
<error line="397" column="4" severity="error" message="&apos;)&apos; expected." source="TS1005" />
<error line="398" column="3" severity="error" message="Expression expected." source="TS1109" />
<error line="399" column="2" severity="error" message="Declaration or statement expected." source="TS1128" />
<error line="400" column="1" severity="error" message="Declaration or statement expected." source="TS1128" />
</file>
</checkstyle>
