// Waiting for render.
.wp-block-woocommerce-single-product.is-loading {
	display: none;
}

// Waiting for product data.
.wc-block-single-product.is-loading {
	p {
		@include placeholder();
	}
}
.wc-block-single-product {
	&__product-image.is-loading {
		@include placeholder();
		img {
			height: 0;
			padding-bottom: 100%;
		}
	}
	&__product-title.is-loading {
		@include placeholder();
		@include force-content();
		width: 6em;
	}
	&__product-price.is-loading {
		@include placeholder();
		@include force-content();
		width: 6em;
	}
	&__product-summary.is-loading {
		@include placeholder();
		@include force-content();
		width: 100%;
	}
	&__product-add-to-cart.is-loading {
		button {
			@include placeholder();
			@include force-content();
			width: 12em;
		}
	}
}

.wc-block-single-product {
	&__product-image {
		text-decoration: none;
		display: block;
		position: relative;

		a {
			text-decoration: none;
			border: 0;
			outline: 0;
			box-shadow: none;
		}

		&__product-image__image {
			vertical-align: middle;
			width: 100%;

			&[hidden] {
				display: none;
			}
		}
	}

	&__product-title {
		line-height: 1.2em;
		font-weight: 700;
		padding: 0;
		color: inherit;
		font-size: inherit;
		display: block;
	}

	&__product-price {
		display: block;

		&__product-price__regular {
			font-size: 0.8em;
			line-height: 1;
			color: #555;
			margin-top: -0.25em;
			display: block;
		}
		&__product-price__value {
			letter-spacing: -1px;
			font-weight: 600;
			display: block;
			font-size: 1.25em;
			line-height: 1.25;
			color: #000;
			span {
				white-space: nowrap;
			}
		}
	}

	&__product-add-to-cart {
		word-break: break-word;
		white-space: normal;
		a,
		button {
			word-break: break-word;
			white-space: normal;
			margin: 0 auto !important;
			display: inline-flex;
			justify-content: center;

			&.loading {
				opacity: 0.25;
			}

			&::after {
				margin-left: 0.5em;
				display: inline-block;
			}

			&.added::after {
				font-family: WooCommerce; /* stylelint-disable-line */
				content: "\e017";
			}

			&.loading::after {
				font-family: WooCommerce; /* stylelint-disable-line */
				content: "\e031";
				animation: spin 2s linear infinite;
			}
		}
	}

	&__product-rating {
		display: block;

		&__stars {
			overflow: hidden;
			position: relative;
			width: 5.3em;
			height: 1.618em;
			line-height: 1.618;
			font-size: 1em;
			/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
			font-family: star;
			font-weight: 400;
			margin: 0 auto;
			text-align: left;

			&::before {
				content: "\53\53\53\53\53";
				top: 0;
				left: 0;
				right: 0;
				position: absolute;
				opacity: 0.5;
				color: #aaa;
			}
			span {
				overflow: hidden;
				top: 0;
				left: 0;
				right: 0;
				position: absolute;
				padding-top: 1.5em;
			}
			span::before {
				content: "\53\53\53\53\53";
				top: 0;
				left: 0;
				right: 0;
				position: absolute;
				color: #000;
			}
		}
	}

	&__product-onsale {
		border: 1px solid #43454b;
		color: #43454b;
		background: #fff;
		padding: 0.202em 0.6180469716em;
		font-size: 0.875rem;
		text-align: center;
		text-transform: uppercase;
		font-weight: 600;
		display: inline-block;
		width: auto;
		border-radius: 3px;
		z-index: 9;
		position: relative;
		margin: $gap-smaller auto;
	}
	&__product-image {
		.wc-block-single-product__product-onsale {
			&--alignleft {
				position: absolute;
				left: $gap-smaller/2;
				top: $gap-smaller/2;
				right: auto;
				margin: 0;
			}
			&--aligncenter {
				position: absolute;
				top: $gap-smaller/2;
				left: 50%;
				transform: translateX(-50%);
				margin: 0;
			}
			&--alignright {
				position: absolute;
				right: $gap-smaller/2;
				top: $gap-smaller/2;
				left: auto;
				margin: 0;
			}
		}
	}

	// Element spacing.
	&__product-image,
	&__product-title,
	&__product-price,
	&__product-rating,
	&__product-add-to-cart {
		margin-top: 0;
		margin-bottom: $gap-small;
	}
}
