// Most of these styles are the same as in `style.scss`,
// but we need to give them more specificity in the editor.
.edit-post-visual-editor .button.wc-block-button {
	background-color: #000 !important;
	color: #fff !important;
	height: auto;

	&:hover,
	&:focus,
	&:active {
		background-color: $black !important;
		color: #fff !important;
	}
}
