.wc-block-add-to-cart-form {
	display: flex;
	flex-direction: row;
}

.wc-block-add-to-cart-form__notice {
	margin: 10px 0;
}

.wc-block-add-to-cart-form__quantity {
	width: 70px;
	padding-right: 10px;
	float: left;

	input[type="number"]::-webkit-inner-spin-button {
		opacity: 1;
	}

	.components-input-control__input {
		padding: 12px !important;
		height: 50px !important;
	}
}

.wc-block-add-to-cart-form__button {
	float: left;
	padding: 25px;
	border-radius: 0;
}
