.woocommerce.wc-block-add-to-cart-form {
	font-size: inherit;
}

.wc-block-add-to-cart-form td.woocommerce-grouped-product-list-item__quantity {
	padding-right: 0.5rem;
	padding-bottom: 1rem;
}

.wc-block-add-to-cart-form table.woocommerce-grouped-product-list.group_table td {
	padding-right: 0.5rem;
	padding-bottom: 1rem;
}
