.wc-blocks-input-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: $gap;

	& > .wc-blocks-text-input {
		margin-right: $gap-small;
		flex-grow: 1;
		margin-top: 0;
		&:last-child {
			margin-right: 0;
		}
	}
}
