.wc-block-order-confirmation-shipping-address {
	border: 1px solid $universal-border-light;
	border-radius: 2px;
	padding: $gap;

	address,
	p {
		width: 100% !important;
		display: block;
		box-sizing: border-box;
		margin: 0 0 $gap;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
