ul.wc-block-product-template,
ul.products-block-post-template {
	padding-left: 0;
	margin-left: 0;
	list-style: none;

	&.is-flex-container {
		> li {
			display: flex;
			flex-direction: column;

			> :last-child {
				margin-top: auto;
			}
		}
	}
}
