.wc-block-mini-cart__quantity-badge {
	align-items: center;
	display: flex;
	margin-left: 10px;
	margin-right: 10px;
}

.wc-block-mini-cart__badge {
	align-items: center;
	background: $white;
	border-radius: 999px;
	border: 2px solid;
	display: flex;
	font-size: 0.875em;
	font-weight: 600;
	height: em(20px)/0.875;
	justify-content: center;
	margin-left: em(-10px)/0.875;
	min-width: em(20px)/0.875;
	padding: 0 em($gap-smallest);
	transform: translateY(-50%);
	white-space: nowrap;
	z-index: 1;
}

.wc-block-mini-cart__icon {
	display: block;
	height: em(24px);
	width: em(24px);
}
