.wc-block-checkbox {
	display: block;
	position: relative;

	.wc-block-checkbox__input[type="checkbox"] {
		appearance: none;
		border: 2px solid currentColor;
		border-radius: 2px;
		height: 1rem;
		margin: 0;
		min-height: 18px;
		min-width: 18px;
		overflow: hidden;
		position: static;
		vertical-align: middle;
		width: 1rem;
		margin-right: 8px;

		&:checked {
			background: currentColor;
			border-color: currentColor;
		}

		&:not(:checked) + .wc-block-checkbox__mark {
			display: none;
		}
	}

	.wc-block-checkbox__mark {
		fill: #fff;
		position: absolute;
		left: 1px;
		top: 6px;
	}
	.wc-block-checkbox__input[type="checkbox"] + .wc-block-checkbox__label {
		padding-left: $gap-smaller;
		vertical-align: middle;
	}
}
