.wc-block-layout .wc-block-components-product-sale-badge {
	@include font-size(small);
	margin-top: 0;
	margin-bottom: $gap-small;
	padding: em($gap-smaller);
	border: 1px solid #43454b;
	color: #43454b;
	background: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	display: inline-block;
	width: auto;
	border-radius: 3px;
	z-index: 9;
	position: relative;
}
