.wc-atomic-blocks-product__selection {
	width: 100%;
}
.wc-atomic-blocks-product__edit-card {
	padding: 16px;
	border-top: 1px solid #e2e4e7;

	.wc-atomic-blocks-product__edit-card-title {
		margin: 0 0 $gap;
	}
}
.wc-atomic-blocks-product-placeholder {
	border: 1px solid #000;
	padding: 1em;
}
