// Import the woocommerce components stylesheet
// @todo Move this to a separate file so we can build a cacheable single stylesheet for all blocks.
@import "../../node_modules/@woocommerce/components/build-style/style.css";

// Hack to hide preview overflow.
.editor-block-preview__content {
	overflow: hidden;
}

.wc-block-products-category {
	overflow: hidden;
	display: grid;
	grid-template: 1fr / auto;
	grid-gap: $gap;

	&.is-loading,
	&.is-not-found,
	&.cols-1 {
		display: block;
	}

	@for $i from 2 to 7 {
		&.cols-#{$i} {
			grid-template-columns: repeat($i, 1fr);
		}
	}

	&.components-placeholder {
		// Reset from the grid of the preview.
		display: flex;
		padding: 2em 1em;
	}

	.editor-block-preview & {
		min-width: 5em;

		@for $i from 1 to 7 {
			&.cols-#{$i} {
				min-width: $i * 5em;
			}
		}

		&.is-loading,
		&.is-not-found {
			min-width: auto;
		}
	}
}

.wc-block-products-category__selection {
	width: 100%;
}

.components-panel {
	.woocommerce-search-list {
		padding: 0;
	}
	.woocommerce-search-list__selected {
		margin: 0 0 $gap;
		padding: 0;
		border-top: none;
		// 54px is the height of 1 row of tags in the sidebar.
		min-height: 54px;
	}
	.woocommerce-search-list__search {
		margin: 0 0 $gap;
		padding: 0;
		border-top: none;
	}
}
