.wc-block-layout .wc-block-components-product-title {
	margin-top: 0;
	margin-bottom: $gap-small;
	line-height: 1.2em;
	font-weight: 700;
	padding: 0;
	color: inherit;
	font-size: inherit;
	display: block;
}

.is-loading .wc-block-components-product-title::before {
	@include placeholder();
	content: ".";
	display: inline-block;
	width: 10em;
}
