$thumbnails: ".wc-block-editor-product-gallery-thumbnails";

#{$thumbnails} {
	display: flex;

	&.wc-block-editor-product-gallery-thumbnails--bottom {
		flex-direction: row;
		gap: 0 15px;
	}

	&:not(.wc-block-editor-product-gallery-thumbnails--bottom) {
		flex-direction: column;
		gap: 15px 0;
	}
}

.wc-block-product-gallery-thumbnails {
	flex-basis: 30%;
}
