$thumbnails: ".wc-block-editor-product-gallery-thumbnails";

// Thumbnails
#{$thumbnails} {
	display: flex;

	&.wc-block-editor-product-gallery-thumbnails--bottom {
		flex-direction: row;
		gap: 0 15px;
	}

	&:not(.wc-block-editor-product-gallery-thumbnails--bottom) {
		flex-direction: column;
		gap: 15px 0;
		min-width: clamp(50px, 20%, 100%);
	}
}
