.wc-block-components-totals-item {
	display: flex;
	flex-wrap: wrap;
}

.wc-block-components-totals-item,
.wc-block-components-totals-coupon,
.wc-block-components-totals-shipping {
	@include with-translucent-border(1px 0 0);
	margin: 0;
	width: 100%;
	padding-top: $gap;
	padding-bottom: $gap;

	// First row in list.
	&:first-child::after {
		border-top: 0;
	}

	// Nested items.
	> .wc-block-components-totals-item {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.wc-block-components-totals-item__label {
	flex-grow: 1;
}

.wc-block-components-totals-item__value {
	font-weight: bold;
	white-space: nowrap;
}

.wc-block-components-totals-item__description {
	@include font-size(small);
	width: 100%;
}
