// Adjust padding and margins in the editor to improve selected block outlines.
.wc-block-checkout__terms {
	margin: 0 0 0 9px;
	padding-top: 9px;
	padding-bottom: 9px;
	display: flex;
	align-items: flex-start;
}
