$cart-image-width: 60px;

.wc-block-cart__sidebar {
	border: 1px solid $core-grey-light-600;
	border-width: 1px 0;
	min-width: 15rem;
}

.wc-block-cart__item-count {
	float: right;
}

.wc-block-cart__table-header {
	display: none;
	text-transform: uppercase;
}

table.wc-block-cart__table th,
table.wc-block-cart__table td {
	// Override Storefront theme gray table background.
	background: none !important;

}

.wc-block-cart__table-header-total,
.wc-block-cart__table-total {
	text-align: right;
}

table.wc-block-cart__table th {
	padding: 0.5rem 0;
}

table.wc-block-cart__table td {
	border-top: 1px solid $core-grey-light-600;
	padding: $gap 0;
}
table.wc-block-cart__table {
	border-bottom: 1px solid $core-grey-light-600;
}

.wc-block-cart__table-image {
	max-width: $cart-image-width;

	img {
		padding-right: $gap;
	}
}

.wc-block-cart__table-quantity-column {
	display: none;
}
.wc-block-cart__table-quantity-stacked {
	display: block;
}

.wc-block-cart__table-total {
	vertical-align: bottom;
}

.wc-block-cart__table-full-price {
	color: $core-grey-light-800;
	text-decoration: line-through;
}

@include breakpoint( ">782px" ) {
	.wc-block-cart {
		display: flex;
	}

	.wc-block-cart__main {
		flex-grow: 4;
		margin-right: 3em;
	}

	.wc-block-cart__sidebar {
		border: 0;
		border-radius: 3px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14);
		flex-grow: 1;
		padding: $gap $gap-large $gap-largest;
	}

	.wc-block-cart__table {
		table-layout: fixed;
	}

	.wc-block-cart__table-header {
		display: table-row;
	}

	.wc-block-cart__table-header-product {
		width: 60%;
	}

	.wc-block-cart__table-quantity-column {
		display: block;
	}

	.wc-block-cart__table-quantity-stacked {
		display: none;
	}

	.wc-block-cart__table-image img {
		padding-left: $gap;
	}

	.wc-block-cart__table-total {
		vertical-align: top;
	}
}
