.wc-block-cart__sidebar {
	border: 1px solid $core-grey-light-600;
	border-width: 1px 0;
	padding-bottom: $gap-largest;
}

.wc-block-cart__totals-footer {
	color: #000;
	font-size: 1.25em;

	> .wc-block-totals-table-item__label {
		font-weight: normal;
	}
}

.wc-block-cart__shipping-options-fieldset {
	background-color: transparent;
	margin: 0;
	padding: 0;
}

.wc-block-cart__shipping-options {
	.wc-block-radio-control__label {
		flex-basis: 100%;
		line-height: 16px;
	}

	.wc-block-radio-control__description {
		flex-basis: 100%;
	}

	.wc-block-radio-control__option {
		padding-left: $gap-large;

		&:last-child {
			border-bottom: none;
		}
	}

	.wc-block-radio-control__input {
		left: 0;
		top: $gap;
	}
}

@include breakpoint( "<782px" ) {
	.wc-block-cart__totals-title {
		display: none;
	}
}

@include breakpoint( ">782px" ) {
	.wc-block-cart__sidebar {
		max-width: 374px;
	}

	.wc-block-cart {
		display: flex;
	}

	.wc-block-cart__main {
		flex-grow: 4;
	}

	.wc-block-cart__sidebar {
		flex-grow: 1;
	}
}
