// Adjust padding and margins in the editor to improve selected block outlines.
.wp-block-woocommerce-checkout-order-note-block {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 9px;
	padding-bottom: 9px;

	.wc-block-checkout__add-note {
		margin-top: 0;
		margin-bottom: 0;
	}
}
