.wc-block-order-confirmation-status {
	margin-top: $gap;
	margin-bottom: $gap;
	p {
		margin: 0;
	}
	.wc-block-order-confirmation-status__actions {
		margin-top: $gap;

		a {
			margin-right: $gap;

			&.has-link-color {
				color: inherit;
			}
		}
	}
}
