.wc-block-order-confirmation-summary {
	margin: $gap-large 0;
	ul {
		list-style: none outside;
		display: flex;
		flex-direction: row;
		margin: 0;
		padding: 0;
		gap: 1em;
		flex-wrap: wrap;

		li {
			flex: 1 1 auto;

			> .wc-block-order-confirmation-summary-list-item__key {
				font-weight: bold;
			}
			> .wc-block-order-confirmation-summary-list-item__value {
				font-weight: inherit;
				display: block;
			}
		}
	}
	.woocommerce-verify-email {
		margin-top: $gap-larger;
		#verify-email {
			width: 50%;
		}
	}
}
