.wc-block-cart__payment-methods {
	align-items: center;
	display: flex;
	justify-content: space-around;
	margin: $gap auto 0;
	max-width: 150px;

	// Normalize icon sizes.
	img,
	svg {
		height: 24px;
		width: auto;
		margin: 0 3px;
	}
}
