.wc-block-components-address-address-wrapper {
	position: relative;

	.wc-block-components-address-card-wrapper,
	.wc-block-components-address-form-wrapper {
		transition: opacity 300ms ease-in-out, height 300ms ease-in-out;
		width: 100%;
	}

	&.is-editing {
		.wc-block-components-address-form-wrapper {
			opacity: 1;
		}
		.wc-block-components-address-card-wrapper {
			opacity: 0;
			position: absolute;
			top: 0;
		}
	}

	&:not(.is-editing) {
		.wc-block-components-address-form-wrapper {
			opacity: 0;
			height: 0;
			pointer-events: none;
		}
		.wc-block-components-address-card-wrapper {
			opacity: 1;
		}
	}
}
