.wc-block-component-express-checkout {
	margin: auto;
	border: 2px solid $black;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: $gap-large;

	.wc-block-component-express-checkout__title {
		position: relative;
		top: -24px;
		background-color: $white;
		padding-left: $gap-small;
		padding-right: $gap-small;
		width: fit-content;
		color: $black;
		font-weight: bold;
	}

	.wc-block-component-express-checkout__content {
		margin-top: -15px;
		padding-left: $gap-large;
		padding-right: $gap-large;
		padding-bottom: $gap;
	}

	.wc-block-component-express-checkout-payment-event-buttons {
		list-style: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		padding: 0;
		margin: 0;
		> li {
			display: inline-block;
			width: 50%;
		}
	}
}
