.editor-styles-wrapper {
	.wc-block-components-product-title {
		margin-top: 0;
		margin-bottom: $gap-small;
		line-height: 1.5;
		font-weight: inherit;
		padding: 0;
		display: block;
		font-size: inherit;

		a.wc-block-components-product-name {
			color: inherit;
		}
	}

	.wc-block-cart-items,
	.cross-sells-product {
		.wc-block-components-product-title {
			margin: unset;
			margin-bottom: $gap-small;
		}
	}
}
