[data-type="woocommerce/checkout-i2"] {
	.wc-block-components-sidebar-layout {
		display: block;
	}
	.block-editor-block-list__layout {
		display: flex;
		flex-flow: row wrap;
		align-items: baseline;
	}
}

[data-type="woocommerce/checkout-fields-block"] {
	.block-editor-block-list__layout {
		display: block;
	}
}

[data-type="woocommerce/checkout-totals-block"] {
	.block-editor-block-list__layout {
		display: block;
	}
}
