[data-type="woocommerce/checkout-i2"] {
	.block-editor-block-list__layout {
		display: flex;
		flex-flow: row wrap;
		align-items: baseline;
	}
}

[data-type="woocommerce/checkout-fields-block"] {
	flex: 1;
	padding-right: 2em;

	.block-editor-block-list__layout {
		display: block;
	}
}

[data-type="woocommerce/checkout-totals-block"] {
	flex-basis: 30%;

	.block-editor-block-list__layout {
		display: block;
	}
}
