.wc-block-components-notice-banner {
	display: flex;
	align-items: center;
	align-content: flex-start;
	color: $gray-800;
	padding: $gap;
	gap: $gap-small;
	margin: $gap 0;
	border-radius: 4px;
	border-color: $gray-800;
	font-weight: 400;
	line-height: 1.5;
	border: 1px solid;
	@include font-size(regular);
	background-color: #fff;

	> svg {
		fill: #fff;
		border-radius: 50%;
		padding: 2px;
		background-color: $gray-800;
	}

	> .wc-block-components-button {
		margin: 0;
		margin-left: auto;
		background: transparent none !important;
		box-shadow: none;
		outline: none;
		padding: 0;
		height: $gap;
		width: $gap;
		min-height: auto;
		color: $gray-800;
	}

	&.is-error {
		border-color: $alert-red;
		background-color: #fff0f0;

		> svg {
			background-color: $alert-red;
			transform: rotate(180deg);
		}
	}

	&.is-warning {
		border-color: $alert-yellow;
		background-color: #fffdf9;

		> svg {
			background-color: $alert-yellow;
			transform: rotate(180deg);
		}
	}

	&.is-success {
		border-color: $alert-green;
		background-color: #f0fff0;

		> svg {
			background-color: $alert-green;
		}
	}

	&.is-info {
		border-color: #007cba;
		background-color: #f4f8ff;

		> svg {
			background-color: #007cba;
		}
	}
}
