.wc-block-components-notice-snackbar {
	display: flex;
	align-items: center;
	align-content: flex-start;
	color: $gray-800;
	padding: $gap;
	gap: $gap-small;
	margin: $gap-large 0;
	border-radius: 4px;
	font-weight: 400;
	line-height: 1.5;
	@include font-size(regular);
	background-color: #fff;
	box-sizing: border-box;
	pointer-events: all;
	border: 1px solid transparent;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

	> .wc-block-components-notice-snackbar__content {
		padding-right: $gap;
	}

	> svg {
		fill: #fff;
		border-radius: 50%;
		padding: 2px;
		background-color: $gray-800;
	}

	> .wc-block-components-button {
		margin: 0;
		margin-left: auto;
		background: transparent none !important;
		box-shadow: none;
		outline: none;
		padding: 0;
		height: $gap;
		width: $gap;
		min-height: auto;
		color: $gray-800;
	}

	&.is-default {
		border-color: $gray-800;
	}

	&.is-error {
		background-color: #fff0f0;

		> svg {
			background-color: $alert-red;
			transform: rotate(180deg);
		}
	}

	&.is-warning {
		background-color: #fffbf4;

		> svg {
			background-color: $alert-yellow;
			transform: rotate(180deg);
		}
	}

	&.is-success {
		background-color: #f4fff7;

		> svg {
			background-color: $alert-green;
		}
	}

	&.is-info {
		background-color: #f4f8ff;

		> svg {
			background-color: #007cba;
		}
	}
}
